{
  "extends": ["react-app", "prettier"],
  "plugins": ["jsx-a11y", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/jsx-curly-brace-presence": [
      2,
      { "props": "never", "children": "never" }
    ],
    "react/jsx-no-bind": [
      2,
      { "ignoreRefs": true, "allowArrowFunctions": true }
    ],
    "react/jsx-key": [2, { "checkFragmentShorthand": true }],
    "react/no-string-refs": [2, { "noTemplateLiterals": true }],
    "react/jsx-max-depth": [2, { "max": 5 }],
    "react/jsx-fragments": [2, "syntax"],
    "react/destructuring-assignment": [2, "always"],
    "react/state-in-constructor": [2, "never"],
    "react/jsx-child-element-spacing": 2,
    "react/jsx-boolean-value": 2,
    "react/no-unescaped-entities": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-unknown-property": 1,
    "react/jsx-uses-vars": 2,
    "react/no-unsafe": 2,
    "react/static-property-placement": 2,
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "max-statements": [1, 30],
    "max-params": [1, 6],
    "max-nested-callbacks": [2, 3],
    "complexity": [1, 11],
    "dot-location": [2, "property"],
    "wrap-iife": [2, "outside"],
    "yoda": [2, "never"],
    "no-with": 2,
    "valid-typeof": 2,
    "consistent-return": 2,
    "guard-for-in": 2,
    "prefer-const": 0,
    "func-names": 2,
    "new-cap": 0,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-delete-var": 2,
    "no-underscore-dangle": 0,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-labels": 2,
    "no-eval": 2,
    "no-fallthrough": 2,
    "no-loop-func": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 0,
    "no-unused-expressions": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-var": 1,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "no-invalid-regexp": 2,
    "no-func-assign": 2,
    "no-extra-semi": 2,
    "no-empty": 2,
    "no-duplicate-case": 2,
    "no-dupe-keys": 2,
    "no-dupe-args": 2,
    "no-negated-in-lhs": 2,
    "no-irregular-whitespace": 2,
    "eqeqeq": 2,
    "prettier/prettier": "error"
  }
}
